---
title: 'Projector Class'
---
extends layouts/_layout

block main
	+post()
		+tyle('img/icon-1.png', "Автотранспорт")
		+tyle('img/icon-2.png', "Автотранспорт")
		+tyle('img/icon-3.png', "Автотранспорт")
		+tyle('img/icon-4.png', "Автотранспорт")
		+tyle('img/icon-5.png', "Автотранспорт")
		+tyle('img/icon-6.png', "Автотранспорт")
		+tyle('img/icon-7.png', "Автотранспорт")
		+tyle('img/icon-8.png', "Автотранспорт")
