---
title: 'Projector Class'
---
extends layouts/_layout

block main
	+post()
		+tyle('img/icon-1.png', "Автотранспорт")
		+tyle('img/icon-2.png', "Автотранспорт")
		+tyle('img/icon-3.png', "Автотранспорт")
		+tyle('img/icon-4.png', "Автотранспорт")
		+tyle('img/icon-5.png', "Автотранспорт")
		+tyle('img/icon-6.png', "Автотранспорт")
		+tyle('img/icon-7.png', "Автотранспорт")
		+tyle('img/icon-8.png', "Автотранспорт")

<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
<div>
<div class="uk-card uk-card-hover uk-card-body">
<h3 class="uk-card-title">Hover</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>
<div>
<div class="uk-card uk-card-default uk-card-hover uk-card-body">
<h3 class="uk-card-title">Default</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>
<div>
<div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
<h3 class="uk-card-title">Primary</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>
<div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
<h3 class="uk-card-title">Secondary</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
</div>
