.content
	background: #ebeef6
	height: 100vh
.content__wraper 
	display: flex
	justify-content: space-around
	align-items: inherit
	max-width: 1000px
	margin: 0 auto
	flex-wrap: wrap
.content__title 
	text-align: center
	padding: 33px 0
	font-family: "Roboto"